
.info-container{
    width: 100vw;
    font-family: monospace;
    margin-top: 50px;
    flex-direction: column;
    overflow: auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}


p{
    color: #F5EEE6;
    font-family: monospace;
    font-size: 20px;
}